<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3 class="text-primary">This is my model app</h3>
        </div>
    </div>
</nav>